.box-check-input input[type="checkbox"]{
  display:none;
}

.box-check-input input[type="checkbox"] + span{
  display:inline-block;
  background:none;
  border:1px solid #dfdfdf;  
  padding:0px 10px;
  text-align:center;
  height:145px;
  width:109px;
  line-height:33px;
  font-weight:500;
  cursor:pointer;
  border-radius:20px;
}

.box-check-input input[type="checkbox"] + span {
	background-image: url(../assets/images/likeTag/기타.png);
	 max-width: 100%;
  height: auto;
  display: block;
	
}

.box-check-input input[type="checkbox"]:checked + span{
  border:1px solid #23a3a7;
  background:#23a3a7;
  color:#fff;
  border-radius:20px;
}

#likeTagMargin > :not([hidden]) ~ :not([hidden]) {
   margin-left: 20px;
    margin-bottom: 15px
}
