/*
마이페이지 카드 선호태그부분 css
*/
.card-header {
    background-color: red;
    border : 2px solid blue;
    width : 15rem;
}

/* 
    마이페이지 카드 커서 올렸을 때, 움직임 효과

.sc-card-collection:hover{
    transform: translateY(-.5rem);
  
  }
  .sc-card-collection:hover ~ .sc-card-collection{
    transform: translateX(1rem);
  }

*/
  /*
    카드 안의 사이즈 설정
  */

  .avatar{
    width: 10px;
    height: 10px;

  }

  