<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stash"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>127.0.0.1:4560</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
	</appender>

	<!-- Logback 은 5단계의 로그 레벨을 가진다. 심각도 수준은 off > Error > Warn > Info > Debug 
		> Trace 이다. -->
	<root level="INFO">
		<appender-ref ref="dailyRollingFileAppender" />
		<appender-ref ref="stash" />
	</root>
</configuration>